@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('/src/styles/variables.css');
@import url('/src/styles/utilities.css');
@import url('/src/styles/effects.css');

/*
	Page designed following a mobile first approach 
*/

a:link,
a:visited,
a:active {
	color: var(--text-low-opacity);
	text-decoration: none;
	text-underline-offset: var(--underline-offset);
}
a:hover {
	text-decoration: underline;
	text-underline-offset: var(--underline-offset);
}

body {
	font-family: 'Lato', sans-serif;
	color: var(--text-low-opacity);
	margin: 0;
}

.mobile-hidden {
	display: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 0 30px;
	height: calc(100vh - 115px);
}

nav {
	display: grid;
	grid-template-areas: 'hamburger logo options';
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: space-around;
	height: 100px;
	padding-bottom: 15px;
	background-color: var(--main-orange);
}

.user-options__container {
	grid-area: hamburger;
}

.user-options__container img {
	margin-top: 3px;
}

.filter-options__container {
	grid-area: options;
	display: flex;
	align-items: center;
	gap: 5px;
}

#image-logo {
	grid-area: logo;
	margin-top: -8px;
	margin-right: -18px;
}

#bars-icon {
	margin-top: 4px;
}

.search-bar {
	display: flex;
	width: 100%;
	padding: 20px 25px;
	border-radius: 50px;
	gap: 14px;
	box-sizing: border-box;
	background-color: white;
	margin-top: -30px;
	margin-bottom: 30px;
}
.search-bar__input {
	background-color: transparent;
	outline: none;
	border: none;
}

.promotion__container {
	display: flex;
	width: 100%;
	flex-shrink: 0;
	overflow-x: auto;
	padding-bottom: 15px;
	gap: 22px;
}

.promotion__element {
	display: flex;
	flex-direction: column;
	width: 150px;
	gap: 10px;
}
.promotion__element img {
	width: 150px;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.promotion__element span {
	white-space: nowrap;
}

.address__container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	gap: 15px;
	box-sizing: border-box;
	background-color: var(--gray);
	padding: 20px 35px;
	border-radius: 50px;
	margin-top: 15px;
}
.address-text__container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 20px;
	align-items: center;
}

a.address__href {
	font-size: 1rem;
	flex-shrink: 3;
}
a.address__href:link,
a.address__href:visited,
a.address__href:hover,
a.address__href:active {
	color: var(--text-low-opacity);
	text-decoration: underline;
}

.restaurants__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 40px;
	margin-top: 30px;
	padding-bottom: 80px;
}

.restaurants-open__container {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: -20px;
}

.restaurant__element {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

.restaurant__img-container {
	position: relative;
	border-radius: 12px;
	height: 144px;
	background-repeat: no-repeat;
	background-size: cover;
}
img.restaurant__logo {
	position: absolute;
	width: 50px;
	height: 50px;
	object-fit: cover;
	top: 20px;
	left: 20px;
	border-radius: 5px;
	background-color: white;
	padding: 2px;
}

.restaurant__info-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

h1.restaurant__title {
	margin: 0;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--text-low-opacity);
}

.restaurant__details {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.restaurant-score__container {
	display: flex;
	align-items: center;
	gap: 8px;
}
.restaurant-score__container > :last-child {
	margin-left: 10px;
}

.restaurant-deliver__container {
	display: flex;
	align-items: center;
	gap: 8px 15px;
	flex-wrap: wrap;
}

.restaurant-deliver__container > :first-child {
	flex-basis: 100%;
}

/* Large devices */
@media only screen and (min-width: 1200px) {
	.mobile-hidden {
		display: inline;
	}

	.desktop-hidden {
		display: none;
	}

	nav {
		display: flex;
		justify-content: space-between;
		background-color: white;
		width: 100%;
	}

	.user-options__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		font-weight: bold;
	}
	.user-options__user-name {
		display: flex;
		align-items: center;
		gap: 7px;
	}
	.user-options__user-name img {
		margin-bottom: 0.3rem;
	}

	body {
		padding: 20px 200px;
	}
	main {
		display: grid;
		grid-template-areas:
			'promotions promotions'
			'address searchbar'
			'categories restaurants';
		grid-auto-columns: 1fr 2fr;
		grid-auto-rows: minmax(min-content, max-content);
		gap: 20px;
		column-gap: 60px;
		align-items: flex-start;
		height: calc(100vh - 115px);
		padding: unset;
	}

	.search-bar {
		grid-area: searchbar;
		padding: 30px 25px;
		box-sizing: border-box;
		margin: unset;
	}

	.search-bar > input[type='text'] {
		font-size: 1rem;
	}

	.search-bar input {
		width: 100%;
	}

	.promotion__container {
		grid-area: promotions;
		overflow: hidden;
	}

	.promotion__element {
		flex-grow: 1;
	}

	.promotion__element:hover {
		cursor: pointer;
	}

	.promotion__element img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.address__container {
		grid-area: address;
		align-items: flex-start;
		gap: 10px;
		box-sizing: border-box;
		border-radius: 50px;
		margin: unset;
	}
	.address__container > img.address__icon {
		margin-top: 2px;
	}
	.address-text__container {
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}

	.restaurants__container {
		grid-area: restaurants;
		margin: unset;
	}

	.restaurants-open__container {
		margin: unset;
		font-size: 1.2rem;
	}

	.restaurant__element {
		flex-direction: row;
		gap: 80px;
		align-items: flex-start;
	}

	.restaurant__element:hover > .restaurant__info-container > .restaurant__title {
		text-decoration: underline;
		text-underline-offset: var(--underline-offset);
		text-decoration-thickness: 2px;
	}

	.restaurant__img-container {
		min-width: 320px;
		flex-shrink: 0;
		height: 160px;
	}

	.restaurant__info-container {
		margin-top: 20px;
	}

	.restaurant-deliver__container > span:first-of-type {
		display: flex;
		gap: 8px;
	}

	.restaurant-deliver__container > span:first-of-type::before {
		content: '';
		background: url('/src/assets/icons/clock-icon.svg');
		background-size: 100% 100%;
		display: inline-block;
		height: 20px;
		margin-left: -3px;
		width: 22px;
	}

	.categories__container {
		grid-area: categories;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.category-head__container {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.category-head__container h3 {
		margin: 0;
	}

	.category__element {
		display: flex;
		padding: 14px 28px;
		height: 50px;
		align-items: center;
		box-sizing: border-box;
		justify-content: space-between;
		border-radius: 30px;
		font-weight: 600;
	}
}
